{% extends 'tracker/base.html' %}

{% load static %}

{% block title %}
- Add Sightings
{% endblock %}

{% block main %}
<html>
 <body>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="card mb-3 shadow-sm">
              <img class="bd-placeholder-img card-img-top"
                   width="225" height="225" preserveAspectRatio="xMidYMid slice"
                   focusable="false" role="img" aria-label="{{ pet.name }}"
                   src="https://i.guim.co.uk/img/media/3aa0344c8039b86f4f7bd3981ae81d54dc985119/0_137_2741_1644/master/2741.jpg?width=1920&quality=85&auto=format&fit=max&s=f332c5d4c44722442e1d1ef42893322d"></img>
            </div>
          </div>
	  <form id = 'submit' action = '' method = 'POST' class = 'input-group mb-3'>
		    {% csrf_token %}

		    <p>
		    	<input type = 'text'
		     	name = 'X'
		     	class = 'form-control'
		    	placeholder='Latitude'
		    	aria-label ='Latitude'>
		    </p>

		    <p>
			<input type = 'text'
			name = 'Y'
			class = 'form-control'
			placeholder='Longitude'
			aria-label ='Longitude'>
		    </p>

		    <p>
			<input type = 'text'
                    	name = 'Unique_Squirrel_ID'
                    	class = 'form-control'
                    	placeholder='Unique Squirrel ID'
                    	aria-label ='Unique Squirrel ID'>
		    </p>

		    <p>
		    	<input type = 'text'
			name = 'Shift'
			class = 'form-control'
		    	placeholder='Shift'
			aria-label = 'Shift'>
		    </p>

		    <p>
			<input type = 'text'
			name = 'Date'
		   	class = 'form-control'
			placeholder='Date'
			aria_label = 'Shift'>
		    </p>

		    <div class = 'input-group-append'>
			    <p> <button class='btn btn-outline-secondary'  type = 'submit'>Add</button></p>
		    </div>
		    <div id = 'errors' class = 'mb-3'></div>
	    </form>
         </div>
       </div>
    </div>
  </div>
 </body>
</html>

{% endblock %}
