<!doctype html>
<html lang="en">
    <body>
        <form id = 'submit' action = '' method = 'POST' class = 'input-group mb-3'>
		    {% csrf_token %}
		    <input type = 'text'
		    name = 'X'
		    class = 'form-control'
		    placeholder='Latitude'
		    aria-label ='Latitude'>

		    <input type = 'text'
                    name = 'Y'
                    class = 'form-control'
                    placeholder='Longitude'
                    aria-label ='Longitude'>

		    <input type = 'text'
                    name = 'Unique_Squirrel_ID'
                    class = 'form-control'
                    placeholder='Unique Squirrel ID'
                    aria-label ='Unique Squirrel ID'>

		    <input
		    name = 'Shift'
		    placeholder='Shift'>

		    <input
                    name = 'Date'
                    placeholder='Date'>

		    <div class = 'input-group-append'>
			    <button class='btn btn-outline-secondary'  type = 'submit'>Add</button>
		    </div>
		    <div id = 'errors' class = 'mb-3'></div>
	</form>
    </body>
</html>
