<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <tittle>My Tittle</tittle>
    </head>
    <body>
        <p>paragraph one</p>
        <p>paragraph two</p>
        <p>paragraph three</p>
        <img src="https://icatcare.org/app/uploads/2018/06/Layer-1704-1920x840.jpg">
        <p>
            <ol>
                <li>First <a href="https://www.google.com/" class="large">link</a>!</li>
                <li>Second <a href="https://www.google.com/" class="large">link</a>!</li>
                <li>Third <a href="https://www.google.com/" class="large">link</a>!</li>
            </ol>
    </body>
</html>
