{% extends 'tracker/base.html' %}

{% load static %}

{% block title %} -Update Squirrel Information {% endblock %} 

{% block main  %}

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">



	      <div class="col-md-30">
                <div class="card mb-8 shadow-sm">
                  <div class="card-body">
              	    <p class="card-text">
                      <b>Original Information:</b>
                	<div>
                  	  <span class="text-muted font-italic">ID:</span>
                  	  <span>
                            {{ squirrel.Unique_Squirrel_ID }}
                  	  </span>
                	</div>
                        <div>
                  	  <span class="text-muted font-italic">Date of Sightings:</span>
                  	  <span>
                    	    {{ squirrel.Date }}
                  	  </span>
                        </div>
                        <div>
                  	  <span class="text-muted font-italic">Coordinates(X, Y):</span>
                  	  <span>
			    {{ squirrel.X}},{{squirrel.Y}}
                  	  </span>
                        </div>
              	    </p>
            	  </div>
                </div>
       	      </div>

	   <p></p>

	      <div class="col-md-8">
	      	<b>Update Here:</b>
	      </div>
	   <p></p>
            <div class="col-md-4">   
		<form action='' method='POST'>
			{% csrf_token %}
			{{form}}
			<p></p>
			<p> <button class='btn btn-outline-secondary'  type = 'submit'>Update</button></p>

    		</form>
	    </div>		
        </div>
      </div>
    </div>       
  </div>		
{% endblock %}
