{% extends 'tracker/base.html' %}

{% load static %}

{% block title %} - All Sightings{% endblock %}

{% block main %}
<!doctype html>
<html>
        <body>
	<p></p>	
	<b style="font-size:25px">All Squirrel Sightings</b>
	<p></p>
	<form>
	<button class="btn btn-outline-secondary" formaction="{% url 'tracker:add' %}">Add More Sightings</button>
	</form>
	<p></p>
	<p></p>
	<div class = "table-reponsive">
	  <table class="table table-striped table-sm">
	    <thead>
	      <tr>
		<th>Unique Squirrel ID</th>
		<th>Date</th>
	      </tr>
	    
